* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#about,
#projects,
#education,
#skills,
#contact {
    margin-left: 20%;
    margin-right: 20%;
    scroll-margin-top: 5rem;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}