<div class="about-section">
    <h2>About</h2>
    <p>
        Hi! 
        I'm Miro Prusila, a developer with a passion for everything space and technology related. 
        Nowadays, I focus on web development.
        Nextsteps for me include learning more about data analytics.
        I also love tinkering with electronics and hardware like building my own computers and now experimenting with homelabbing.
    </p>
</div>

<style>
    .about-section {
        padding: 2rem;
        margin: 0 auto;
        color: white;
        max-width: 800px;
    }

    .about-section h2 {
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    .about-section p {
        font-size: 1.2rem;
        line-height: 1.6;
    }
</style>