<div class="home-container">
    <div class="content">
        <h1>Miro Prusila</h1>
        <p>Finland Github LinkedIn</p>
    </div>
</div>

<style>
    .home-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        color: white;
    }

    .content {
        text-align: center;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 1.5rem;
    }
</style>