---
export interface Props {
    title: string;
    description: string;
    url: string;
}

const { title, description, url } = Astro.props;
---
<a class="project-card" href={url} target="_blank" rel="noopener noreferrer">
    <div>
        <h3>{title}</h3>
        <p>{description}</p>
    </div>
</a>

<style>
    .project-card {
        background: #333;
        padding: 1rem;
        border-radius: 8px;
        color: white;
        text-decoration: none;
    }

    .project-card:hover {
    transform: translateY(-5px);
    }

    .project-card img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
</style>
